<div id="footer">
  <table width="780" border="0" cellspacing="0" cellpadding="2">
    <tr>
      <td width="386"><a href="http://www.biodesign.asu.edu/"><img src="biodesign%20logo.jpg" alt="" width="317" height="52" border="0" /></a></td>
      <td width="386" align="right">Office: Biodesign A 124B&#1042; &#1042; Lab: Biodesign A 131 <br />
        Phone: (480)727-8570&#1042; &#1042; Lab Phone: (480)727-0428 <br />
        Fax: (480) 965-2747 <br />
        Email: <a href="Mailto:hao.yan@asu.edu">hao.yan@asu.edu </a></td>
    </tr>
  </table>
  <!-- end #footer -->
</div>