<div id="header">
    <h1><a href="http://www.asu.edu/"><img src="/New/Img/biodesign_logo-NEW.webp" alt="asu-logo" width="372" height="50" border="0" /></a></h1>
</div>
<div id="header2"> <a href="http://chemistry.asu.edu/"><img src="/New/Img/dept-logo.webp" alt="dl" width="800" height="38" border="0" /></a> 
    <a href="https://biodesign.asu.edu/molecular-design-and-biomimetics"><img src="/New/Img/centerlogo.webp" alt="dl" width="800" height="65" border="0" /></a> 
</div>
<div class="header5" id="link1">
    <p style="font-size: 16px; color: #FFFFFF; background-color: #2f2f2f">
        <strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/"><font color="FFFFFF">Home</font></a> | 
                 <a href="News.html"><font color="FFFFFF">News</font></a> | 
                 <a href="Research.html"><font color="FFFFFF">Research</font></a> | 
                 <a href="People.html"><font color="FFFFFF">People</font></a> | 
                 <a href="Publication.html"><font color="FFFFFF">Publications</font></a> | 
                 <a href="Resources.html"><font color="FFFFFF">Resources</font></a> | 
                 <a href="Covers.html"><font color="FFFFFF">Covers</font></a> <br>&nbsp;&nbsp;
      </strong> 
</div>